.header{
  height: 4rem;
  background-color: #fff;
  overflow: hidden;
  border-bottom:1px solid #ccc;
  padding: .4rem;
}
.logo{
  font-size: 2rem;
  text-align: left;
  background-image: linear-gradient(90deg, #f66, #f90);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -ms-background-clip: text;
  animation: hue 5s linear infinite;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  -ms-text-fill-color: transparent;

}
@keyframes hue {
  from {
    filter: hue-rotate(0);
  }

  to {
    filter: hue-rotate(-1turn);
  }
}
/* .text{
  font-size: .6rem;
  color: #999;
  display: inline-block;
    padding-left: 0.3rem;
} */
.ant-menu-horizontal{
  margin-top: 8px;
  font-size: .7rem;
}
.text2{
  margin-left: .6rem;
  margin-bottom: .4rem;
}
.text {
  display:inline-block;
  overflow:hidden;
  white-space:nowrap;
 
}




.text:last-of-type {
  width:0px;
  animation: reveal 7s infinite;
}

.text:last-of-type span {
  
  animation: slidein 7s infinite;
}


@keyframes slidein {
    0% { margin-left:-4rem; }
    20% { margin-left:-4rem; }
    35% { margin-left:0px; }
    100% { margin-left:0px; }
}

@keyframes reveal {
    0% {opacity:0;width:0px;}
    20% {opacity:1;width:0px;}
    30% {width:11rem;}
    80% {opacity:1;}
    100% {opacity:0;width:11rem;}
}
.ftz{
  font-size: .8rem;
}

